
.idea/
#tmp files
src/tmp/

# topic models
resources/oracle/log/*
resources/topic_models/*.pkl

**/__pycache__/

**/old_tensorboard/
**/checkpoint_folder/
**/trained_models/
**/oracle/logs/summary/
**/oracle/samples/
**/oracle/logs/
Latex/main.toc
Latex/main.synctex.gz
Latex/main.pdf
Latex/main.log
Latex/main.aux
